<template id="jobhh" >
<div v-if="typeof(data.data)!='undefined'">
	<div v-html="(data.data.branded_description)?data.data.branded_description:data.data.description">
		{{JobId}}
	</div>
</div>
</template>

<script>
//37021209
Vue.component('jobhh', {
  template: '#jobhh',
  props: ['id'],
  data: function () {
    return {
      JobId : this.id,
	  data:{}
    }
  },
  mounted: function () {
  
	axios
		.get('/pub/HHApi/Vacancy?id='+this.JobId)
		.then(response => {
			this.data = response;
			console.log(this.data);
		});
  },
  methods: {
    
  }
})
</script>


